<!-- Container to hold all the content for the navigation -->
<mat-sidenav-container class="sidenav-container">

  <!-- We're creating a sidebar and a normal navigation. Depending on the size of the Viewport, the 
  corresponding one is shown.
  More information: https://material.angular.io/components/sidenav/overview. -->

  <!-- contains the drawer content (for small devices) -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false">

    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban Demo</a>
      <a mat-list-item routerLink="/customers" (click)="drawer.close()">SSR Demo</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- contains the main content (the navbar for larger screens is part of the main content)-->
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- only show button, to expand the drawer, on smaller devices (ngIf) -->
      <button mat-icon-button type="button" aria-label="Toggle sidenav" (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <!-- Text inside references a material icon. Valid names can be found in the official documentation   -->
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <!-- Logo should be shown regardless of the screensize -->
      <span class="logo">🔥 Angular Firstarter</span>

      <!-- Navbar for larger screens -->
      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/kanban">🍱 Kanban Demo</a>
        <a mat-button routerLink="/customers">⚡ SSR Demo</a>

        <a mat-button routerLink="/login">🔑 Login</a>
      </div>

      <!-- DROPDOWN MENU -->

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item href="https://fireship.page.link/slack">
          <i>💬</i>
          <span>Chat on Slack</span>
        </a>
        <a mat-menu-item href="https://github.com/codediodeio/angular-firestarter">
          <i>💾</i>
          <span>Code on Github</span>
        </a>
        <a mat-menu-item href="https://fireship.io/courses/angular">
          <i>🔥</i>
          <span>Full Course on Fireship</span>
        </a>

        <a mat-menu-item href="https://www.youtube.com/channel/UCsBjURrPoezykLs9EqgamOA">
          <i>📺</i>
          <span>Watch on the YouTube</span>
        </a>
      </mat-menu>

    </mat-toolbar>
    <!-- everything inside the app-shell tag (used in app component) will be 'transcluded' into
    the ng-content tag (similar to having a parent layout in flask (e.g. the navbar and footer, which are the same for
    every site) and changing the content by rendering templates)
    that extend that layout) -->
    <ng-content></ng-content>

  </mat-sidenav-content>

</mat-sidenav-container>
