<main>
  <section>
    <h1>This is my take on the Angular + Firebase course by Fireship.io</h1>
    <p>The Angular Firebase PWA Course will teach you how to build a complex progressive web app with Angular 9 (ivy),
       Material Design, and Firebase. It starts from absolute basics and eventually culminates with the deployment of a
       server-rendered PWA on Google Cloud Run.</p>

    <div class="button-wrapper">
      <button mat-raised-button routerLink="/login">Login</button>
      to continue
    </div>

  </section>
</main>
